.minesweeper {
  &__container {
    display: flex;
    gap: 20px;
  }
  &__game {
    &-field {
      margin: 0;
      border: 2px solid $color-black;
    }
    &-status {
      margin-top: 25px;
      @include font-montserrat-bold;
    }
  }

  &__display {
    @include flex-center-v;
    flex-flow: column;
    width: 400px;
    text-align: center;
  }
  &__time,
  &__steps {
    @include font-montserrat-medium;
  }
  &__dimensions-list {
    list-style-type: none;
  }
  &__easy,
  &__medium,
  &__hard {
    margin-right: 10px;
  }
}