.main {
  &__container {
    @include flex-center-h;
    height: 100vh;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $light-grey;
  }
  &__title {
    color: $dark-grey;
  }
  &__img {
    width: 366px;
  }
}