// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
  background-color: $dark-grey;
  &__container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    color: $color-white;
  }
}